body {
    background-color: black;
    height: 100vh;
    margin: 0;
}

::-webkit-scrollbar {
    display: block;
    height: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);
    border-radius: 22px;
}

.booth_wrap,
.camera_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.booth_wrap {
    height: 100%;
}
.camera_wrap {
    position: relative;
}
#cameraview {
    max-width: 700px;
    width: 80%;
    max-height: 525px;
    height: 60vw;
}
.capture_div {
    justify-content: center;
    position: absolute;
    bottom: 5%;
}

/* 캡처된 이미지 리스트 */
.capturedImage_wrap {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 가능하게 설정 */
    scroll-snap-type: x mandatory; /* 스냅 스크롤 적용 */
    width: 90%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    white-space: nowrap; /* 이미지가 한 줄로 정렬되도록 설정 */
    cursor: grab;
}

/* 마우스 드래그 중 스타일 변경 */
.capturedImage_wrap.active {
    cursor: grabbing;
}

/* 개별 이미지 스타일 */
.captured-img {
    border-radius: 5px;
    border: 2px solid white;
    scroll-snap-align: center; /* 스냅 스크롤 적용 */
    user-select: none; /* 텍스트 선택 방지 */
    pointer-events: auto; /* 마우스 이벤트 유지 */
}

/* 이미지 드래그 기본 동작 방지 */
.captured-img:active {
    pointer-events: none;
}
